spring:
  application:
    name: order-management

  datasource:
    url: jdbc:postgresql://localhost:5432/orderdb
    username: postgres
    password: postgres

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect:
          org.hibernate.dialect.PostgreSQLDialect

  h2:
    console:
      enabled: true
      path: /h2-console

security:
  jwt:
    secret: ",c)TKr=MLwj0JEMcnb-(^24AtkMZAn=S"
    access-expiration-minutes: 1
    refresh-expiration-days: 30

logging:
  level:
    org.springframework.security: DEBUG


